@model IList<Post>

<div class="mb-4">
    <h3 class="text-success mb-2">
        Top 3 bài viết được nhiều người xem nhất
    </h3>

    <ul class="list-group">
        @foreach (var postItem in Model)
        {
            <li class="list-group-item">
                <a class="text_decoration-none"
                    title="@postItem.Title"
                    asp-controller="Blog"
                    asp-action="Post"
                    asp-route-year="@postItem.PostedDate.Year"
                    asp-route-month="@postItem.PostedDate.Month"
                    asp-route-day="@postItem.PostedDate.Day"
                    asp-route-slug="@postItem.UrlSlug"
                    onclick="return location.reload();">
                    @postItem.Title (Lượt xem: @postItem.ViewCount)
                </a>
            </li>
        }
    </ul>
</div>